*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e7dca3;
}
.container{
    background-color: #5c8a61;
    padding: 3rem;
    border-radius: 2rem;
    min-height: 45vh;
    width: 45vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none ;
    border-radius: 0.8rem;
}
form input{
    border: 1px solid black;
    height: 3rem;
    font-size: 22px;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.select-container img{
    max-width: 2.5rem;

}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
}
.select-container select{
    border: 1px solid black;
    font-size: 1rem;
}
.msg{
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    background-color: white;
    height: 1.3rem;
}
form button{
    height: 3rem;
    background-color: #bdd6b5;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}